@import url(http://fonts.googleapis.com/css?family=Abel);
@import url(http://fonts.googleapis.com/css?family=Abel|Inder);

h1 {
  font-family: 'Abel', sans-serif;
  font-size: 100px;
}

h3 {
  font-family: 'Inder', sans-serif;
  font-size: 40px;
  float: right, 40%;
}

a {
  color: black;
}

.down {
  color:purple;
}