/* video#bgvid {
  width:100%;
  height:400px;
} */

/* video#bgvid {
  position: relative;
  margin: 0 auto;
  display: block;
  width:1200px;
  height:600px;
  background-size: 100%;
} */

#header{
  background-color:white;
  opacity:.8;
  z-index:1;
  width:750px;
  text-align:center;
  margin: 0 auto;
  
}


video#bgvid {
position: fixed;
top: 50%;
left: 50%;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: -100;
-webkit-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
background: url(../images/background.mp4) no-repeat;
background-size: cover;
} 


@import url(http://fonts.googleapis.com/css?family=Abel);
@import url(http://fonts.googleapis.com/css?family=Abel|Inder);
@import url(http://fonts.googleapis.com/css?family=Abel|Inder|Play);

h1 {
  font-family: 'Abel', sans-serif;
  font-size: 100px;
  color: black;
  opacity:1;
}

h3 {
  font-family: 'Inder', sans-serif;
  font-size: 40px;
  color:black;
}

a {
  color: black;
  font-family: 'Play', sans-serif;
  font-size: 16px;
  color:black;
}


.down {
  color:black;
}

body {
  background-color:black;
}
